#Pealkiri{
    color: orange;
    font-style: bold;
    font-size: 100px;
    text-align: center;


}

.Tekst{
    color: crimson;
    text-align: center;
    font-style: italic;
    font-size: 50px;



}

table {
    border: 1px soild;


}